p {
  color: #004187;
  text-align: start !important;
}

.titulo {
  font-size: 46px;
  font-weight: bold;
  color: white;
}

.parrafo-banner {
  color: white;
  font-size: 20px;
}

.banner-principal {
  height: 460px;
  width: 100%;
  overflow: hidden;
}

.imagenBanner {
  position: relative;
  top: 0;
  left: 0;
  height: 367px;
  width: 100%;
  background-image: url('/assets/flamaOrnilla.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 65%;
  filter: grayscale(90%);
  transition: filter 0.5s ease;
  z-index: 0
}

.banner-principal:hover .imagenBanner {
  filter: grayscale(0%);
}

.contenedorBanner {
  position: relative;
  z-index: 1;
  padding-left: 150px;
  padding-top: 10px;
  color: white;
  top: -300px;
}

.contenedorBanner h1,
p {
  margin: 0;
}

.contenedorBanner p {
  width: 700px;
  opacity: 70%;
}

.contenedorBoton {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
}

.boton-contacto {
  background-color: #004187;
  border: none;
  text-decoration: none;
  width: 140px;
  height: 45px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  transition: all 0.3s ease;
  /* Añadido para centrar el texto en el Link */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.boton-contacto:hover {
  background-color: #2e943f;
}

.boton-producto {
  background-color: transparent;
  border: 1px solid white;
  text-decoration: none;
  width: 140px;
  height: 45px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  transition: all 0.4s ease;
  /* Añadido para centrar el texto en el Link/button */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.boton-producto:hover {
  background-color: #2e943f;
  border: none;
}

.logos {
  display: flex;
  margin-top: 20px;
  width: 100px;
  gap: 10px;
  background-color: black;
  opacity: 70%;
  z-index: 1;
  /* ¡¡ OJO !! Esta sombra es muy fuerte, mira la Observación #3 */
  box-shadow: 0px 5px 28px 17px rgba(0, 0, 0, 1);
}

.logos img {
  width: 22px;
  height: 22px;
}

.card-uno,
.card-dos,
.card-tres {
  display: flex;
  align-items: center;
}

.card-dos {
  position: relative;
  top: -70px;
}

.card-tres {
  position: relative;
  top: -140px;
}

.card-uno img {
  width: 560px;
  position: relative;
  left: 70px;
  z-index: 70;
}

.card-dos img {
  width: 560px;
  position: relative;
  left: -30px;
  z-index: 70;
}

.card-tres img {
  width: 560px;
  position: relative;
  left: 70px;
  z-index: 70;
}

.tarjetas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.producto-destacado,
.producto-vision {
  height: 300px;
  width: 100%;
  max-width: 1045px;
  box-shadow: 13px 21px 19px -7px rgba(0, 0, 0, 0.1), 8px -15px 15px -3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding-right: 4rem;
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
  position: relative;
  right: 90px;
  justify-content: center;
}

.producto-mision {
  height: 300px;
  width: 100%;
  max-width: 1045px;
  box-shadow: 13px 21px 19px -7px rgba(0, 0, 0, 0.1), 8px -15px 15px -3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding-right: 8rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  right: -140px;
  justify-content: center;
}

.card-container-targets {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ededed;
  height: fit-content;
  padding: 7rem;
  z-index: 1;
  gap: 10rem;
  margin-bottom: 8rem;
  border: 10px solid #004187;
}

.target-logo {
  background-color: white;
  width: 280px;
  height: 180px;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: default;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.logo-sostenible {
  width: 50px;
}

.imagen-swiper {
  width: 200px;
}

.container-general-productos {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titulo-productos {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 0px;
  margin: 0px;
  color: #004187;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 34px;
}

.container-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.card {
  width: 100%;
  box-shadow: 0px 5px 28px 17px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.container-informacion {
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-informacion h3 {
  height: 60px;
  font-family: "Albert Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  color: #004187;
}

.container-informacion p {
  color: #004187;
  font-weight: 400;
  height: 120px;
}

@media(max-width: 1200px) {
  .container-general-productos {
    margin-top: 1rem;
  }
  .container-informacion p {
    height: 150px;
  }
  .card-container-targets {
    gap: 3rem;
  }
  .producto-destacado,
  .producto-vision {
    padding-right: 1rem;
    padding-top: 0;
    justify-content: center;
  }
}

@media(max-width: 984px) {
  .card-uno,
  .card-dos,
  .card-tres {
    top: 0;
  }
  .tarjetas-container {
    gap: 20px;
  }
  .card-uno {
    margin-top: 20px;
  }
  .card-uno img {
    display: none;
  }
  .card-dos img {
    display: none;
  }
  .card-tres img {
    display: none;
  }
  .producto-destacado {
    right: 0;
    padding-left: 0px;
    max-width: 600px;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    box-shadow: 0px 3px 23px 9px rgba(0, 0, 0, 0.1);
    padding-left: 1rem !important;
  }
  .producto-mision {
    right: 0;
    max-width: 600px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0px 3px 23px 9px rgba(0, 0, 0, 0.1);
    justify-content: center;
    padding-top: 0px;
  }
  .producto-vision {
    right: 0;
    max-width: 600px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0px 3px 23px 9px rgba(0, 0, 0, 0.1);
    padding-top: 0px;
    justify-content: center;
  }
  .container-general-productos {
    margin-top: 1rem;
  }
  .card-container-targets {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
  }
  .contenedorBanner {
    padding-left: 30px;
  }
  .contenedorBanner p {
    width: 300px;
  }
  .titulo {
    font-size: 26px;
  }
  .parrafo-banner {
    font-size: 16px;
  }
}

@media(max-width: 500px) {
  .producto-destacado {
    height: 300px;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.swiper-horizontal {
  padding: 2rem !important;
}