.container-footer-general {
    width: 100%;
    min-height: 260px;
    height: auto;
    padding: 2rem 1rem;
    background-color: #004187;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-footer-informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-footer-informacion .titulo-footer{
    color: white;
}

.container-footer-informacion .texto-footer{
    color: white;
}

.container-redes-sociales img{
    width: 32px;
    height: 32px;
}

@media (max-width: 768px) {
    .container-footer-general {
        padding: 3rem 1rem;
    }
}
